body{
	background-color:gray;
	color:black;
}
a{
	color:orange;
}

.navbar-fixed-top{
	background-color:yellow;
}
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
