<div class="navbar navbar-fixed-top navbar-inverse" style="position:fixed;">
  <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
<div class="navbar-inner">
<div class="row-fluid">
<div style="font-family: 'Special Elite', cursive;">
    <a class="span1 brand pull-left" href="/" style="margin-right:0px"> <span class="title1">easy</span><span class="title2">PCE</span></a>
</div>
<div class="span5" style="">
<div class="row-fluid">

<form class="navbar-search pull-left span8" action="/search/" method="get">
    <input type="text" name="q" class="search-query autosearch navsearch" placeholder="Search" style="margin-left:80px;height:25px;" />
</form>
</div>
</div>
<div class="span6">
<div class="row-fluid">
<div class="span12">
<ul class="nav pull-right" style="">
<!--<li class="nav"> <a class="navbarLink" href="#">Departments </a> </li>-->

<li class="dropdown dropdown-scroll nav">
 <a class="dropdown-toggle navbarLink" href="#" data-toggle="dropdown">Departments <strong class="caret"></strong></a>
     <div class="dropdown-menu" style="margin-bottom: 5px; width:300px !important;">
            <ul  style="margin-left:0px; text-align:left;">
            {% for dept in alldepts.all %}
            {% if forloop.first%}
            <div style='margin: 5px 0px -15px 5px;'> <a href="/depts/{{dept.dept}}"> {{dept.dept}}: {{dept.name|truncatechars:40 }}  </a> </li> </div>

            {% else %}
            <div style='margin: -15px 0px -15px 5px;'> <a href="/depts/{{dept.dept}}"> {{dept.dept}}: {{dept.name|truncatechars:40 }}  </a> </li> </div>
            {% endif %}
            {% if not forloop.last%}
            <hr />
            {% endif %}
            {% endfor %}
            </ul>
       </div>
 </li>



<li class="dropdown dropdown-scroll nav">
 <a class="dropdown-toggle getFavorites navbarLink" href="#" data-toggle="dropdown">My Favorites <strong class="caret"></strong></a>
     <div class="dropdown-menu" style="padding-bottom: 5px;">
            <ul class="favDropdown" style="margin-left:0px;">
            <li> <a> None found </a> </li>
            </ul>
       </div>
 </li>

<li class="dropdown nav">
<a href="#" class="dropdown-toggle navbarLink" data-toggle="dropdown"> Hey, {{user.netid}}! <b class="caret"> </b> </a>
<ul class="dropdown-menu">
<li><a href="/favorites"> Manage Favorites </a> </li>
<li><a href="/logout/"> Logout </a> </li>
</ul>
</li>
</ul>
</div>
</div>
<!-- changed href for favorites -->
</div>
</div>
   </div>
</div>



