<html style="overflow:auto !important;">
<title> {% if dept %} PCE: {{url.upper}} {% else %} PCE: Unknown Dept. {% endif %}</title>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/ico"
      href="/{{ STATIC_URL }}favicon/favicon.ico">

	{% include "importfiles.html" %}


</head>
<body data-target=".subnav" data-offset="10" class="gradient" >  <!-- style="min-width:1305px !important; overflow:hidden !important;"-->


<div class="Headercontainer gradient" style="margin-top:-15px;"> 

{% include "navbar.html" %}

{% autoescape off %}
<h1 id="header"> {% if dept %}
{{url.upper}}: {{dept.name}}
{%else%}
{{url.upper}}
{%endif%}
{% if registrarurl %}
<p style="font-size:50%;"> <a href="{{registrarurl}}" style="color:#2554C7"><strong> Registrar </strong\
></a></p>
{% endif %}
</h1>
</div>
<hr />


<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active span6" style="font-size:150%;"><a href="#courses" data-toggle="tab"> Courses </a></li>
		<li class="span6" style="font-size:150%;"> <a href="#professors" data-toggle="tab"> Professors</a></li>
	</ul>
	<div class="tab-content">
		<div id="courses" class="tab-pane active">
		    {% if dept %}
		    <table class="table table-striped">
		    	<thead>
					<td> <strong> Favorite </strong> </td>
		    		<td> <strong> Course </strong> </td>
		    		<td> <strong> Title </strong> </td>
		    		<td> <strong> Most Recent Professor </strong> </td>
		    		<td> <strong> Available next Fall? </strong> </td>
		    	</thead>
		    	<!-- we need to pass more info including instances of most recent teachers -->
				{% for course, instance in titles %}
			        {% ifequal instance.semester "Fall"%}
                                {% ifequal instance.year "2014-2015" %}
		    	<tr id="row{{instance.regNum}}">
		    		<td>  
					
		    		{% if instance.regNum in regNums %}
		    		<a class="btn btn-inFavorites favButton" href="#"><i class="icon-star starInFav"></i></a>
		    		{% else %}
		     		<a class="btn btn-notInFavorites favButton" href="#"><i class="icon-star starNotInFav"></i></a>
					{% endif %}
		    		<!--
		    			<form action="addfav" method="post">
		    				<input class="hidden" name="dept" value="{{url.upper}}" />
		    				<input class="hidden" name="number" value="{{course.number}}" />
		    				<input class="hidden" name="userid" value="{{user.netid}}" />
		    				<input type="checkbox" checked="checked" onclick="this.form.submit();">Single Toggle</button>
		    			</form>-->
		    		</td>
		    		<td> <a href='/courses/{{url.upper}}{{course.number}}'>{{url.upper}} {{course.number}}</a> </td>
		    		<td> <a href='/courses/{{url.upper}}{{course.number}}'>{{instance.title}}</a>  </td>
		    		<td> {% for prof in instance.profs.all %} <a href='/profs/{{prof.netid}}/'>{{prof}}</a> {% if not forloop.last %} / {% endif %} {% endfor %}</td>
		    		<td> 
		    		<!-- hardcoded parameters for next semester-->
		    		
		    			<img class="check" src="/{{ STATIC_URL }}img/check.png" media="screen" />
		    		
		    		</td>
		    	</tr>
			{% endifequal %}
			{% endifequal %}
		    	{% endfor %}
			{% for course, instance in titles %}
			{% ifnotequal instance.semester "Fall"%}
                        {% ifnotequal instance.year "2014-2015" %}
                        <tr id="row{{instance.regNum}}">
                                <td>

                                {% if instance.regNum in regNums %}
                                <a class="btn btn-inFavorites favButton" href="#"><i class="icon-star starInFav"></i></a>
                                {% else %}
                                <a class="btn btn-notInFavorites favButton" href="#"><i class="icon-star starNotInFav"></i></a>
                                        {% endif %}
                                <!--                                                                                                                                                     
                                        <form action="addfav" method="post">                                                                                                             
                                                <input class="hidden" name="dept" value="{{url.upper}}" />                                                                               
                                                <input class="hidden" name="number" value="{{course.number}}" />                                                                         
                                                <input class="hidden" name="userid" value="{{user.netid}}" />                                                                            
                                                <input type="checkbox" checked="checked" onclick="this.form.submit();">Single Toggle</button>                                            
                                        </form>-->
                                </td>
                                <td> <a href='/courses/{{url.upper}}{{course.number}}'>{{url.upper}} {{course.number}}</a> </td>
                                <td> <a href='/courses/{{url.upper}}{{course.number}}'>{{instance.title}}</a>  </td>
                                <td> {% for prof in instance.profs.all %} <a href='/profs/{{prof.netid}}/'>{{prof}}</a> {% if not forloop.last %} / {% endif %} {% endfor %}</td>
                                <td>
                                <!-- hardcoded parameters for next semester-->
                                
                                        <img class="check" src="/{{ STATIC_URL }}img/ex.png" media="screen" />
                                                                </td>
                        </tr>
			{% endifnotequal %}
			{% endifnotequal %}
                        {% endfor %}
		    </table>
		    {% endif %}
		</div>
	<div id="professors" class="tab-pane">
	<table class="table table-striped">
	{% if profs %}
	
	
	{% for prof in profs %}
	<tr>
	<td><a href="../../profs/{{prof.netid}}/">{{prof}}</a></td>
	</tr>
	{% endfor %}
	
	{% else %}
	<p> No professors found for the {{url.upper}} department. </p>
	{% endif %}
	</table>
		</div>
	</div>
</div>
{% endautoescape %}

<script>
$(function() {  
  $(".btn").click(function() {  
      if ($(this).hasClass("btn-inFavorites")) {
      	var add = 1;
      }
      if ($(this).hasClass("btn-notInFavorites")) {
      	var add = 0;
      }
      var id = $(this).closest('tr').attr('id');
      var dataString= 'add='+ add + '&regNum='+ id + '&user='+'{{user.netid}}';
      $.ajax({
      	type:"POST",
      	url:"../editfavorites",
      	data:{string:dataString},
      	success:function() {
      		
      	}
      });
	return true;      
  });  
});
$(".favButton").click(function(event_ref){
   event_ref.preventDefault();
});

   

$(".btn").click(function() {
   $(this).children().toggleClass("starNotInFav");
   $(this).children().toggleClass("starInFav");
   $(this).toggleClass("btn-inFavorites");
   $(this).toggleClass("btn-notInFavorites");   
});
</script>


</body>
<html>

