<!-- PCE Site Home Page -->
<html>
<title> PCE Home </title>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/gif" href="/{{ STATIC_URL }}favicon/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
 {% include "importfiles.html" %}
<script type="text/javascript" src="/{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="/{{ STATIC_URL}}bootstrap/js/bootstrap-modal.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

    $(".btnCheck").click(function() {
      $(this).toggleClass("active");
    });

    function openAdvanced() {
      $("#advancedWrapper").slideDown(300);
      $("#toggleAdvanced").text("Basic Search");
      $(".homesearch").css("background-color", "rgba(245, 245, 245, 1)");
      $(".homesearch").animate({
        marginTop:'30px',
        marginBottom:'40px'
      }, 300);
    }

    function closeAdvanced() {
      $("#advancedWrapper").slideUp(300);
      $("#toggleAdvanced").text("Advanced Search");
      $(".homesearch").css("background-color", "white");
      $(".homesearch").animate({
        marginTop:'120px',
        marginBottom:'120px'
      }, 300);
    }

    $("#toggleAdvanced").click(function(){
      if ($(this).text() === "Advanced Search") 
        openAdvanced();
      else 
        closeAdvanced();
    });

    $("#addDept").click(function() {
      var newDiv = '<div class="deptRow">\n\t<select name="depts">';
      {% for d in alldepts %}
        newDiv += '\n\t\t<option>{{d.dept}}: {{d.name}}</option>';
      {% endfor %}
      newDiv += '\n\t</select>'
      newDiv += '\n\t<a class="delButton">&times</a>';
      newDiv += '\n</div>';

      $container = $("#deptRowsContainer");
      $container.append(newDiv);

      if ($container.children().length == 2)
        $container.children(":first").find(".delButton").css("display", "inline");
    });

    $("#addProf").click(function() {
      var newDiv = '<div class="profRow">\n\t<input type="text" name="profs" />';
      newDiv += '\n\t<a class="delButton">&times</a>';
      newDiv += '\n</div>';

      $container = $("#profRowsContainer");
      $container.append(newDiv);

      if ($container.children().length == 2)
        $container.children(":first").find(".delButton").css("display", "inline");
    });

    $("#addAdvice").click(function() {
      var newDiv = '<div class="adviceRow">\n\t<input type="text" name="advice" />';
      newDiv += '\n\t<a class="delButton">&times</a>';
      newDiv += '\n</div>';

      $container = $("#adviceRowsContainer");
      $container.append(newDiv);

      if ($container.children().length == 2)
        $container.children(":first").find(".delButton").css("display", "inline");
    });


    $(".searchOption").on("click", ".delButton", function() {
      var $container = $(this).parent().parent();
      var $row = $(this).parent();
      if ($row.siblings().length > 0)
        $row.remove();

      if ($container.children().length == 1)
        $container.children(":first").find(".delButton").hide();
    });


    $(".toggleInclude").click(function() {
      if ($(this).text() === "Include") {
        $(this).text("Exclude");
      }
      else {
        $(this).text("Include");
      }
    });

    $(".mainbody").click(function() {
      closeAdvanced();
    });

    $(".homesearch").click(function(event) {
      event.stopPropagation();
    })

  });
</script>
</head>
 {% autoescape off %}
<body class="cloud">
 {% include "navbar2.html" %}
<div class="mainbody">
  <div class="homesearch">
    <h1>easy<span>PCE</span></h1>
    <h2><span>P</span>rinceton <span>C</span>ourse <span>E</span>valuations</h2>
    <p>
       Search for a class, department, or professor to get reviews.
    </p>
    <form class="form-search" action="/search/" method="get">
      <input type="text" name="q" autocomplete="off" placeholder="Ex: COS 126, Sims, WWS, &quot;easy&quot in QR, ... (quotation marks required)" class="search-query autosearch" style="border-radius:5px; height:30px;">
      <button type="submit" class="btn">Search</button>
    </form>
    
    <div id="advancedWrapper">
      <form id="advancedSearch">
        
        <div class="searchOption" id="deptContainer">
          <div class="optionHeader"><h3><a class="toggleInclude">Include</a> Departments:</h3></div>
          <div id="deptRowsContainer">
            <div class="deptRow">
              <select name="depts">
                {% for d in alldepts %}
                <option>{{d.dept}}: {{d.name}}</option>
                {% endfor %}
              </select>
              <a class="delButton" style="display: none;">&times</a>
            </div>
          </div>
          <a class="addButton" id="addDept">+</a>
        </div>

        <div class="searchOption">
          <div class="optionHeader"><h3><a class="toggleInclude">Include</a> Distribution Areas:</h3></div>
          <div class="btn-group">
            <button type="button" class="btn btnCheck">EC</button>
            <button type="button" class="btn btnCheck">EM</button>
            <button type="button" class="btn btnCheck">HA</button>
            <button type="button" class="btn btnCheck">LA</button>
            <button type="button" class="btn btnCheck">QR</button>
            <button type="button" class="btn btnCheck">STL</button>
            <button type="button" class="btn btnCheck">STN</button>
          </div>
        </div>

        <div class="searchOption">
          <div class="optionHeader"><h3><a class="toggleInclude">Include</a> Days:</h3></div>
          <div class="btn-group">
            <button type="button" class="btn btnCheck">Mon</button>
            <button type="button" class="btn btnCheck">Tues</button>
            <button type="button" class="btn btnCheck">Wed</button>
            <button type="button" class="btn btnCheck">Thur</button>
            <button type="button" class="btn btnCheck">Fri</button>
          </div>
        </div>
        
        <!-- <div class="searchOption">
          <div class="optionHeader"><h3><a class="toggleInclude">Include</a> Times:</h3></div>
          <div class="timeRow">
            <div class="startTime">
              <label>Start:
                <select>
                  <option>all</option>
                  <option>9:00 am</option>
                </select>
              </label>
            </div>
            <div class="endTime">
              <label>End:
                <select>
                  <option>all</option>
                  <option>9:00 am</option>
                  <option>...</option>
                </select>
              </label>
            </div>
          </div>
          <a class="addButton">+</a>
        </div> -->

        <div class="searchOption" id="profContainer">
          <div class="optionHeader"><h3><a class="toggleInclude">Include</a> Professors:</h3></div>
          <div id="profRowsContainer">
            <div class="profRow">
              <input type="text" name="profs" />
              <a class="delButton" style="display: none;">&times</a>
            </div>
          </div>
          <a class="addButton" id="addProf">+</a>
        </div>

        <div class="searchOption" id="adviceContainer">
          <div class="optionHeader"><h3><a class="toggleInclude">Include</a> Advice:</h3></div>
          <div id="adviceRowsContainer">
            <div class="adviceRow">
              <input type="text" name="advice" />
              <a class="delButton" style="display: none;">&times</a>
            </div>
          </div>
          <a class="addButton" id="addAdvice">+</a>
        </div>

        <input type="submit" class="btn btn-primary" id="advancedSubmit" value="Search" />
      </form>
    </div>

    <div class="helptext">
      <a href="#helpModal" data-toggle="modal" aria-labelledby="About" aria-hidden="true">About</a> | 
      <a id="toggleAdvanced">Advanced Search</a>
    </div>
    <div id="helpModal" class="modal hide fade" role="dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 style="text-align:center" id="myModalLabel">About</h3>
      </div>
      <div style="text-align:left" class="modal-body">
        <h4>How to search</h4>
        <p class="tab">
           Our smart search bar is very powerful and allows you to search for varying combinations of courses. Typing in any text will prompt it to immediately try and auto-correct, filling in whatever Professor, Course, or Department it thinks you are looking for. Begin your search with a quotation mark, <span style="font-weight:bold">"...</span>, to begin the keyword search, allowing you to look for words or phrases within the advice students gave for different courses. For example, the phrase<span style="font-weight:bold">"easy" in QR</span> will look for classes that students somehow marked as "easy" in the QR distribution area. This also works for all departments.
        </p>
        <br>
        <h4>About easyPCE</h4>
        <p class="tab">
          easyPCE was originally a project for COS 333 (Spring 2013) that morphed into a more serious project to help the Princeton community. It was written and developed by Matt Haake, Yacob Yonas, and John Whelchel, and we hope you find better courses for the rest of your Princeton experience with the help of our tool!
        </p>
      </div>
    </div>
  </div>
</div>
</body>
 {% endautoescape %} </html>